# Ignore target build directory
/target/

# Ignore Cargo lock file for libraries
Cargo.lock

# Ignore IDE/editor config
**/*.rs.bk
.idea/
.vscode/
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs or temp files
*.log